body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input.form-control, input.form-control:focus {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: #fff;
}

.form-floating label {
  color: #fff;
}

nav {
  color: #fff;
}

nav i {
  font-size: 1.8rem;
}
